.container{
	display: inline-block;
	margin: 6px;
    width: calc(100% - 12px);
	border: 2px solid #ddd;
	padding: 0;
}
.label-col{
	width: 30vW;
	text-align: right;
}
.row{
	padding: 5px;
	margin: 0;
}
.value-col{
	width: 30vW;
	text-align: right;
}
.unit-col{
	width: 25vW;
	
}
#refresh-button{
	position: absolute;
    top: 10px;
    right: 10px;
	width: auto;
}
#add-button{
	position: absolute;
	right: 10px;
}
input{
	width: 100%;
	line-height: 14px;
    text-align: right;
}
.table{
	margin-bottom: 0;
}
table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
}
.edit-button{
	margin-left: -10px;
	margin-right: 6px;
}
.history {
	height: calc(100vH - 323px);
	overflow: auto;
}
.history td, th{
	text-align: right;
}
.entry-button-container{
	padding: 6px;
	text-align: center;
}
